{% extends 'base.html' %}

{% block content %}

<ul class="movie-list">
    {% for comment in comments %}
    
    <li>
        <a class="imdb" >{{ comment.id }}</a>
        {% if current_user.id == 2 %}
            {% if comment.rank_a == 1 %}
            <a class="posbtn" > 积极 </a>
            {% endif %}
            {% if comment.rank_a == 2 %}
            <a class="midbtn" > 中性 </a>
            {% endif %}
            {% if comment.rank_a == 3 %}
            <a class="negbtn" > 消极 </a>
            {% endif %}
        {% endif %}

        {% if current_user.id == 3 %}
            {% if comment.rank_b == 1 %}
            <a class="posbtn" > 积极 </a>
            {% endif %}
            {% if comment.rank_b == 2 %}
            <a class="midbtn" > 中性 </a>
            {% endif %}
            {% if comment.rank_b == 3 %}
            <a class="negbtn" > 消极 </a>
            {% endif %}
        {% endif %}
            
        {% if current_user.id == 4 %}
            {% if comment.rank_c == 1 %}
            <a class="posbtn" > 积极 </a>
            {% endif %}
            {% if comment.rank_c == 2 %}
            <a class="midbtn" > 中性 </a>
            {% endif %}
            {% if comment.rank_c == 3 %}
            <a class="negbtn" > 消极 </a>
            {% endif %}
        {% endif %}

        <a class='comment'>{{ comment.content }}</a>
        <div class="float-right">
            <!-- {% if current_user.is_authenticated and current_user.id > 1 %}
            <form class="inline-form" method="post" action="{{ url_for('label', comment_id=comment.id)}}">
                <button class="posbtn" type="submit" name="rank" value="1" title="积极评论">积极</button>
            </form>

            <form class="inline-form" method="post" action="{{ url_for('label', comment_id=comment.id)}}">
                <button class="midbtn" type="submit" name="rank" value="2" title="中性评论">中性</button>
            </form>
            <form class="inline-form" method="post" action="{{ url_for('label', comment_id=comment.id)}}">
                <button class="negbtn" type="submit" name="rank" value="3" title="消极评论">消极</button>
            </form>
            
            {% endif %} -->
        </div>
    </li>
    {% endfor %}
</ul>
{% import "_macros.html" as macros %} 
{%if pagination%}
    <div class="pagination" >
        <center>{{ macros.render_pagination(pagination, '.index') }}</center>
    </div>
{% endif %}
<!-- <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~"> -->
{% endblock %}
